<div class='div-post-admin'>
<h1>Posts Home</h1>

<hr/>

<h3>Listing posts</h3>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Commands</th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= truncate(post.text, :length => 80) %></td>
      <td>
      <%= link_to 'Show', post_path(post) %> | 
      <%= link_to 'Edit', edit_post_path(post) %> | 
      <%= link_to 'Delete', post,
		method: :delete,
		data: { confirm: 'Are you sure?' } %>
	  </td>
    </tr>
  <% end %>
</table>

<hr/>

<p><%= link_to 'Create Post', new_post_path %></p>

<hr/>
<p><%= link_to 'Admin', admin_path %></p>
<p><%= link_to 'Home', home_index_path %></p>
</div>
